body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Arista-Light';
  src: local('Arista-Light'),
    url('./fonts/Arista-Pro-Light-trial.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Arista-Bold';
  src: local('Arista-Bold'),
    url('./fonts/Arista-Pro-Bold-trial.ttf') format('truetype');
  font-weight: bold;
}
